
.about1 {
    background-image: linear-gradient(to right, rgb(255, 229, 0), rgb(171, 120, 228)); /* Adjust the RGB values as needed */
}

.content{
    display: flex;

    flex-direction: row;

       
}

.para{

    margin-top: 20%;
}
