.home{
    /* background-image: url('../../assets/homeBg2.jpg'); */
    background-attachment: fixed;
    background-image: linear-gradient(to right, rgb(231, 171, 213), rgb(243, 243, 242));
}

.mystery-quest-regular {
    font-family: "Mystery Quest", system-ui;
    font-weight: 900;
    font-style: normal;
  }
  
  .londrina-sketch-regular {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: bolder;
    font-style: normal;
  }
  