.navbar-link {
    transition: transform 0.3s ease, color 0.5s ease; /* Added color transition */
    font-family: sans-serif;
    font-weight: 400;
    font-size: smaller;
  }
  
  .navbar-link:hover {
    transform: scale(1.2); /* Enlarge the link on hover */
    color: rgb(48, 104, 187); /* New color */
  }
  
  .NavButton{
    transition: transform 0.3s ease, color 0.5s ease;
  }

  .NavButton:hover{
    background-color: white;
    transform: scale(1.1); 
  }

  .navbar {
    background-image: linear-gradient(to right, rgb(204, 68, 204), rgb(171, 120, 228)); /* Adjust the RGB values as needed */
}